h1 {
  text-align: justify;
}


.bar {
  padding: 1% 1% 1% 22%;
  background: none;
  border: none;

}

li {
  padding: 0% 0% 0% 9%;
}

.sign button {
  border-radius: 10%;
  padding: 9% 9% 9% 9%;
  background: none;
}

.nav {
  background: none;
  border: none;
     position: fixed;
     z-index: 2;
}

.land1 {
  background-image: url("./figma/Decore.png");
}

.l1 {
  padding: 20% 1%;
}
.l1 p{
  padding-top: 3%;
}
.l8 img {
  position: absolute;
  left: 90%;
}



.l1 img {
  padding-top: 3%;
}

.l1 h1 {
  padding-top: 3%;
  font-size: 4.5rem;
}

h5 {
  color: rgb(240, 0, 0);
}

button.btn {
  background-color: rgb(255, 199, 46);
}

.fourc {
  padding-top: 5%;
}

.para p {
  justify-content: center;
  display: flex;
}

.fourc h1 {
  padding-left: 32%;
}

.fourc .card {
  border-radius: 15%;
}



.place {
  padding-top: 5%;
}

.place .card {
  background: none;
  margin-top: 20%;
  border-radius: 9%;
  height: fit-content;
  width: fit-content;

  box-shadow: 0 8px 17px 0 #0000, 0 2px 10px 0 #0000;
}

.place p {
  text-align: center;
}

.place h2 {
  text-align: center;
}

.place img {
  box-sizing: border-box;
  border-radius: 9% 9% 0% 0%;
}

.place .card-text {
  margin-left: 4%;
}

.place h6 {
  margin-left: 5%;
  padding-top: 5%;
}

.place .card {
  padding: 0% 0% 10% 0%;
}

.land5 h1 {
  font-size: 4rem;
}

.land6 .card {
  justify-content: space-around;

}

.land4 .image {
  padding-top: 10%;

}

button[type=submit] {
  padding: 15% 20% 4% 40%;
  background-color: rgb(255, 3, 87);
  border: 1px rgb(158, 0, 53) !important;
  border-radius: 5px;
}

input[type=text] {
  padding: 2% 2% 2% 2%;
}

.land4 h1 {
  font-size: 3.5rem;
}
.fourc .p1{
  padding-left: 45%;
  
}
.core img {
  position: absolute;
  top: 30%;
  left: 39%;
  z-index: -2;
}

.up img {
  position: absolute;
  left: 88%;
}

.back img {
  position: absolute;
  top: 115%;
  left: 32%;
  opacity: 90%;
  z-index: -1;
}

.plane img {
  position: absolute;
  top: 9%;
  left: 80%;
}



.from {
  padding: 5% 1% 2% 40%;
}



label {
  padding-top: 2%;
}

input[type=text] {
  width: 100%;
}

.ld1 img {
  padding-top: 5%;
  padding-left: 2%;
}

.land1.img {
  justify-content: space-between;
}

.im1 {
  display: flex;
  padding-bottom: 5%;
}

.im2 {
  display: flex;
  padding-bottom: 5%;
}

.con {
  padding-left: 2%;
}

.con1 {
  padding-left: 2%;
}

.con2 {
  padding-left: 2%;
}

.im3 {
  display: flex;
  padding-bottom: 5%;
}

.footer {
  padding-top: 10%;
  padding-bottom: 5%;
}

.land4 {
  padding-top: 8%;
}

.footer img {
  padding-bottom: 4%;
}

.sp {
  position: absolute;
  top: 256%;
  left: 85%;
  z-index: -2
}
.cardc1{
  padding: 2% 12%;
  box-shadow: #0000 2px 2px 2px 2px;
}
.card1{
  padding-top: 8%;
  margin-top: 0%;
  position: absolute;
  top: -1%;
}
.place .plh{
  padding: 0% 0% 0% 70%;
  position: absolute;
    top: 85%;
}
.l7b img{
position: absolute;
right: 40%;
left: 0%;

}
.l7 img {
  position: absolute;
  top: 507%;
  left: 87%;
}
.land7 .imgl {
  padding: 2%;
  display: flex;
}
.lh1{
  padding-top: 5%;
  text-align: center;
}

.l7b img{
  position: relative;
}
.l1c img{
  position: absolute;
  top: 508%;
  left: 90%;
}
.l2c img{
  position: absolute;
  top: 540%;
  left: 9%;
}
.l3c img{
  position: absolute;
  top: 514%;
  left: 65%;
}
.l4c img{
  position: absolute;
  top: 560%;
  left: 89%;
}
.land7 .lh1{
  position: absolute;
 font-size: 3rem;
 text-align: center;
 left: 10%;
}
@media screen and (max-width: 601px) {
  .l1 h1{
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .l1 h1 {
    font-size: 1.5rem;

  }
}
@media screen and (max-width: 601px) {
  .fourc h1 {
    font-size: 1.5rem;
    padding-left: 10%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .fourc h1 {
    font-size: 1rem;
 padding-left: 25%;
  }
}
@media screen and (max-width: 601px) {
  .land4 h1{
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .land4 h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 601px) {
  .land5 h1{
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .land5 h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 601px) {
  .land7 .lh1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .land7 .lh1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 601px) {
  .plane img {
    width: 10%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .plane img {
    width: 20%;
  }
}
@media screen and (max-width: 601px) {
  .land7 .lh1{
    font-size: 1.5rem !important;
    position: relative !important;

  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .land7 .lh1 {
    font-size: 0.5rem;
    position: relative;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .land7 .l7b {
   width: fit-content;
   
  }
}
